<form action="/generate-answer" method="post" enctype="multipart/form-data">
  <label for="token">Token:
    <input type="text" name="token" id="token" placeholder="Digite o seu token do Codenation" required>
  </label>
  <button type="submit">Gerar</button>
</form>